@use '../../styles/variables.module.scss' as var;

.aboutContainer {
  padding-top: 96px;

  h1, h2 {
    font-family: var.$font-title;
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  p, span {
    font-family: var.$font-body;
    font-size: 1rem;
  }

  .workCont {
    margin: 48px 0;

    div {
      display: flex;
      justify-content: space-between;
    }

    > span {
      display: flex;
      flex-direction: column;
      align-items: end;
      opacity: 0.5;
      font-size: 0.9rem;
    }
  }
  //6a85b6
  .aboutCont {
    p {
      color: rgba(51, 51, 51, 0.75);
      span {
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
    }
  }

  .skillsCont {

    .iconCont {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .icon path {
        fill: currentColor;
      }
  
      .iconBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        z-index: 1;
        
        .icon {
          width: 24px;
          height: 24px;
          color: #333;
          z-index: 2;
        }
      }
    }
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .aboutContainer {
    padding: 96px 48px;
  }
}