@use '../../styles/variables.module.scss' as var;

.aboutContainer {
  padding-top: 96px;

  h2, h3 {
    font-family: var.$font-title;
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  p {
    font-family: var.$font-body;
    font-size: 0.875rem;
  }

  .workCont {
    margin: 48px 0;

    .workItem {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .workDetails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.875rem;
    }
    
    .position {
      display: flex;
      justify-content: flex-end;
    }
  }

  .skillsCont {

    .iconCont {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .icon path {
        fill: currentColor;
      }
  
      .iconBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        z-index: 1;
        
        .icon {
          width: 24px;
          height: 24px;
          color: #333;
          z-index: 2;
        }
      }
    }
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .aboutContainer {
    padding: 72px 24px;
  }
}