.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  header {
    position: absolute;
    z-index: 10;
    padding: 4em;
    opacity: 0.75;
    color: #fff;
  
    h1 {
      width: 60%;
      font-weight: 600;
      font-size: 3em;
      line-height: 1;
      margin-bottom: 20px;
    }
  }
  
  .glassyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(32px);
    pointer-events: none;
    z-index: 2;
  }
}
