.container {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
  
  .glassyOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(32px);
    pointer-events: none;
    z-index: 2;
  }
}
