@use '../styles/reset.scss';

// 색상


// 폰트
html {
  font-size: 62.5%;

  body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #333
  }

  @media (max-width: 1079px) {
    font-size: 56.25%;
  }

  @media (max-width: 803px) {
    font-size: 50%;
  }
}