@use '../styles/variables.module.scss' as var;

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-width: 1080px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@media (max-width: var.$breakpoint-tablet) {
  .wrapper {
    left: 0;
    transform: none;
  }
}