.container {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 528px;
  height: 100%;

  .about {
    padding-top: 96px;
    height: 500px;
  }

  .project {
    padding-top: 96px;
    height: 500px;
  }

  .guestbook {
    padding-top: 96px;
    height: 500px;
  }
}