@use '../../styles/variables.module.scss' as var;

.headerContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 540px;
  width: 50%;
  height: 100vh;
  left: calc((100% - 1080px) / 2);
  padding: 96px 0;
  z-index: 2000;
}

@media (max-width: var.$breakpoint-tablet) {
  .headerContainer {
    position: relative;
    width: 100%;
    max-width: none;
    left: 0;
    height: auto;
    padding: 72px 24px 0;
  }
}