@use '../../styles/variables.module.scss' as var;

.titleContainer h1 {
  font-family: var.$font-title;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.titleContainer h2 {
  padding: 1rem 0 1rem;
  font-family: var.$font-body;
  // font-style: italic;
  font-weight: 600;
  font-size: 1.25rem;
}

.titleContainer p {
  font-family: var.$font-body;
  font-size: 1rem;
  padding-right: 24px;
}
