@use '../styles/variables.module.scss' as var;

.wrapper {
  display: inline-block;

  .iconWrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    .icon path {
      fill: currentColor;
      transition: all 0.3s;
    }
    
    .icon {
      width: 24px;
      height: 24px;
      color: #333;
      // background-color: #333;
    
      &:hover {
        color: #fff;
      }
    }
  }

  .form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    right: 0;
    padding: 12px;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1000;

    .closeButton {
      align-self: end;
      width: 24px;
      height: 24px;

      .icon path {
        fill: currentColor;
        transition: all 0.3s;
      }
      
      .icon {  
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.1);
        color: #333;
      
        &:hover {
          color: #fff;
          background-color: #333;
        }
      }
    }

    .label {
      display: block;
      margin: 0 0 4px 4px;
      color: #555;
      font-size: 0.75rem;
      font-family: var.$font-body;
    }

    .input {
      width: 100%;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 8px;
      font-size: 0.75rem;
      font-family: var.$font-body;
    }
  
    .textarea {
      width: 100%;
      min-height: 100px;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      resize: vertical;
      font-size: 0.75rem;
      font-family: var.$font-body;
    }
  
    .submitButton {
      margin-top: 12px;
      padding: 6px 12px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 0.75rem;
      font-family: var.$font-body;
      font-weight: 600;
    
      &:hover {
        background: rgba(0, 0, 0, 0.1);
        color: #333;
      }
    }
  }
}
