@use '../styles/variables.module.scss' as var;

.socialContainer {
  position: absolute;
  top: 24px;
  right: calc((100% - 1080px) / 2);
  // right: 0;
  z-index: 1000;

  ul {
    display: flex;

    li {
      margin: 0 6px;

      a {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon path {
          fill: currentColor;
          transition: all 0.3s ease;
        }
        
        .icon {
          width: 24px;
          height: 24px;
          color: #333;
          // background-color: #333;
        
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .socialContainer {
    position: relative;
    left: 40px;
    z-index: 1000;

    ul {  
      li {  
        a {
          width: 28px;
          height: 28px;  
          
          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

