@use '../../styles/variables.module.scss' as var;

.footerContainer {
  padding-bottom: 24px;

  .txtCont {
    margin-bottom: 72px;
    width: 100%;
    // margin: 24px;

    p {
      font-family: var.$font-body;
      font-size: 0.9rem;
      line-height: 1.5rem;

      a {
        font-family: var.$font-title;
        text-decoration: wavy;
        text-decoration-line: underline;
        transition: all 0.3s;

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .copyright {
    p {
      font-family: var.$font-body;
      font-size: 0.9rem;
      color: rgba(51, 51, 51, 0.5);
      line-height: 1.25rem;
    }
  }
}