@use '../../styles/variables.module.scss' as var;

.container {
  padding-top: 96px;
  position: absolute;
  right: 0;
  width: 50%;
  max-width: 540px;
  min-height: 100vh; /* height: 100% 대신 min-height: 100vh 사용 */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 내용이 길 경우 스크롤 허용 */
  padding-bottom: 48px; /* 하단 여백 추가 */

  section {
    padding-bottom: 96px;
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .container {
    width: 100%;
    max-width: none;
    
    section {
      padding: 0 24px 48px;
    }
  }
}