@use '../../styles/variables.module.scss' as var;

// 공통
.projectMain {
  position: relative;
  margin-bottom: 96px;

  &:last-child {
    margin-bottom: 0;
  }

  .imgCont {
    width: 100%;
    height: auto;
    max-height: 294px;
    margin-bottom: 24px;

    .imgBox {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        // background: #000;
      }
    }

    .hoverLayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: rgba(255 ,255 ,255 ,0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      font-size: 0.75rem;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
    
      a {
        display: flex;
        padding: 8px 16px;
        background-color: rgba(255 , 255 , 255 , 1);
        border: 1px solid rgba(51,51,51,0.1);
        color: #333;
        font-family: var.$font-title;
        transform: translateY(10px);
        transition: all 0.3s;

        span {
          margin-left: 8px;
        }

        &:hover {
          color: #333;
          background-color: rgb(240, 240, 240);
        }

        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        &.visit {
          border-right: 1px solid rgba(51,51,51,0.15);
        }

        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &.github {
          border-left: 1px solid rgba(51,51,51,0.15);
        }
      }
    }
    
    &:hover .hoverLayer {
      opacity: 1;
      pointer-events: auto;
      backdrop-filter: blur(2px);
    
      span {
        transform: translateY(0);
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: end;

    h2 {
      font-family: var.$font-body;
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 12px;
    }

    p {
      font-family: var.$font-body;
      font-size: 0.875rem;
      text-align: right;
    }

    .skills {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 12px;
      padding-top: 24px;

      span {
        padding: 6px 12px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        font-family: var.$font-title, var.$font-body;
        font-size: 0.75rem;
      }
    }

    .mobileLink {
      display: none;
    }
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .projectMain {

    .imgCont {

      &:hover .hoverLayer {
        display: none;
        opacity: 0 !important;
        backdrop-filter: none !important;
      }
    }

    .info {

      .skills {
        gap: 8px;
      }

      .mobileLink {
        display: block;
        margin-bottom: 12px;

        a {
          font-family: var.$font-title;
          font-weight: 400;
          font-size: 1rem;
          padding: 8px 16px;
          background-color: rgba(255, 255, 255, 0.5);

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }

          &.visit {
            border-right: 1px solid rgba(51,51,51,0.15);

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          &.notion {

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }

          &.github {
            border-left: 1px solid rgba(51,51,51,0.15);

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }
  }
}

// Project 페이지 전용 컴포넌트 스타일링

.projectPage {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 72px;

  &:first-child {
    padding-top: 118px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .imgCont {
    flex: 1.25;
    min-width: 0;

    .imgBox {
      display: flex;
      flex-direction: column;
      aspect-ratio: 16 / 9;
      width: 100%;
      // height: 100%;
      // overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      .hoverLayer {
        width: 100%;
        display: flex;
        padding-top: 12px;
        pointer-events: auto;

        svg {
          display: none;
        }
        
        a {
          width: 50%;
          font-family: var.$font-title;
          font-weight: 400;
          font-size: 0.75rem;
          padding: 8px 0;
          background-color: rgba(255, 255, 255, 0.5);
          text-align: center;
          transition: all 0.3s;

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }

          &.visit {
            border-right: 1px solid rgba(51,51,51,0.15);

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          &.notion {

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }

          &.github {
            border-left: 1px solid rgba(51,51,51,0.15);

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }
  }

  .info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: var.$font-body;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 12px;
    }

    p {
      font-family: var.$font-body;
      font-size: 0.875rem;
      margin-bottom: 16px;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      span {
        border-radius: 8px;
        font-family: var.$font-title, var.$font-body;
        font-weight: 700;
        font-size: 0.75rem;

        &::before {
          content: '#';
        }
      }
    }

    .mobileLink {
      display: none;
    }
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .projectPage {
    &:first-child {
      padding-top: 0;
    }
  }
}